#nav1{
    margin-left: 2%;
        font-family: monospace;
        font-weight: 550;

  }

  #nav{
        color: #5757e5;
        margin-left:4%;
      
  }

  .home1{
      border-bottom: 5px solid #5757e5;
      padding: 0px 11px 3px;
  }